@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">

    <h1 class="display-4">Sistema Para Cadastro de Usuários</h1>

    <br />
    
        <h3>Meu Portifólio</h3>
        <a href="https://github.com/DiegoPelizzon?tab=repositories"><img src="~/git-imagem.png"></a>
    
    
</div>
