@model UsuarioModel
@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="text-center">

    <h2 class="display-4">Editar Usuario</h2>


</div>

<form asp-controller="Usuarios" asp-action="Editar" method="post">
    <div class="mb-3">

        <input type="hidden" asp-for="id" />  <!-- Esse input serve para o Form saber o id no qual ele deve associar as alterações-->

        <label for="Nome" class="form-label">Nome do usuario</label>
        <input type="text" asp-for="nome" class="form-control" placeholder="Digite um nome">
        @Html.ValidationMessageFor(x => x.nome)  <!-- Nesse trecho configuramos um HTML para apresentar uma mensagem na tela das [Validations]-->

    </div>
    <div class="mb-3">

        <label for="Email" class="form-label">Email</label>
        <input type="text" asp-for="email" class="form-control" placeholder="Digite um email">
        @Html.ValidationMessageFor(x => x.email)

    </div>
    <div class="mb-3">

        <label for="Contato" class="form-label">Numero para contato</label>
        <input type="text" asp-for="contato" class="form-control" placeholder="Digite o numero de contato">
        @Html.ValidationMessageFor(x => x.contato)

    </div>

    <button type="submit" class="btn btn-primary btn-block">Editar</button>
    <a class="btn btn-secondary btn-block" role="button" asp-controller="Usuarios" asp-action="Index">Voltar</a>
</form>
